@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 50px;
    background-color: #FF9A4B;
}

main{
    display: flex;
    justify-content: center;
    width: 960px;
    padding: 50px 0;
    margin: 0 auto;
}

.frame{
    width: 300px;
    background-color: #EEEEEE;
    padding: 10px;
    position: relative;
}
.frame:nth-child(2){
    margin: 0 30px;
}

.step{
    background-color: #FF9A4B;
    color: white;
    width: 50px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.image1{
    height: 150px;
    background-image: url("img/flow01.png");
    background-size: cover;
    background-position: center bottom;
}
.image2{
    height: 150px;
    background-image: url("img/flow02.png");
    background-size: cover;
    background-position: center bottom;
}
.image3{
    height: 150px;
    background-image: url("img/flow03.png");
    background-size: cover;
    background-position: center bottom;
}

h3{
    margin-top: 15px;
    margin-bottom: 5px;
}
.text{
    display: flex;
    flex-wrap: wrap;
}

footer{
    height: 50px;
    background-color: #AAAAAA;
}

@media screen and (max-width: 768px){
    main{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .frame{
        width: 90%;
    }
    .frame:nth-child(2){
        margin: 20px 0;
    }
}